<!DOCTYPE html>
<html lang="en" ng-app="calculatorApp">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Calculator</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>

<div ng-controller="CalculatorController">
    <h2>Calculator</h2>
    
    <!-- Calculator directive -->
    <calculator></calculator>
</div>

<script>
var app = angular.module('calculatorApp', []);

app.controller('CalculatorController', function($scope) {
    $scope.result = 0;
    
    $scope.calculate = function(operation, operand1, operand2) {
        switch (operation) {
            case 'add':
                $scope.result = operand1 + operand2;
                break;
            case 'subtract':
                $scope.result = operand1 - operand2;
                break;
            case 'multiply':
                $scope.result = operand1 * operand2;
                break;
            default:
                $scope.result = 0;
        }
    };
});

app.directive('calculator', function() {
    return {
        restrict: 'E',
        template: `
            <div>
                <label>Operand 1:</label>
                <input type="number" ng-model="operand1">
            </div>
            <div>
                <label>Operand 2:</label>
                <input type="number" ng-model="operand2">
            </div>
            <div>
                <button ng-click="calculate('add', operand1, operand2)">Add</button>
                <button ng-click="calculate('subtract', operand1, operand2)">Subtract</button>
                <button ng-click="calculate('multiply', operand1, operand2)">Multiply</button>
            </div>
            <div>
                <label>Result:</label>
                <input type="text" ng-model="result" disabled>
            </div>
        `,
        controller: 'CalculatorController'
    };
});
</script>

</body>
</html>
